.app-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    .header {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--light-gray);
        color: var(--primary);
        padding: 1rem;
        text-align: center;

        && img.img-logo {
            max-height: 8rem;
        }

        && .app-title {
            background-color: var(--secondary);
            color: white;
        }
    }

    .body-container {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        height: 100dvh;

        && .filters-container {
            display: flex;
            width: 100%;
            gap: 1rem;
            justify-content: space-between;

            && .add-btn {
                && .btn-add-counter {
                    padding: 0.5rem;
                    font-size: 1rem;
                    width: 100%;
                    border: 1px solid var(--secondary);
                    color: var(--black);
                    text-align: center;
                    font-weight: bold;
                    display: flex;
                    justify-content: center;
                }
            }

            && .add-btn:hover {
                && .btn-add-counter {
                    background-color: var(--secondary);
                    color: var(--white);
                }
            }
        }

        && .table-container {
            display: flex;
            margin-block-start: 1rem;
        }
    }
}

@media screen and (max-width: 761px) {
    .app-container .header {
        padding: 1rem;

        && img.img-logo {
            max-height: 6rem;
        }

        && .app-title {
            font-size: 1.5rem;
            padding: 0.5rem;
        }
    }

    .body-container {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        height: 100dvh;

        && .filters-container {
            display: flex;
            flex-direction: column;
        }
    }

}