@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "./index.css";
@import "./searchBar.css";
@import "./counterTable.css";
@import "./counterRow.css";
@import "./filterDropdown.css";

:root {
    --font-base: 'Noto Sans', sans-serif;
    --primary: #f88a33;
    --secondary: #0871b5;
    --tertiary: #414141;
    --light-gray:#d3d3d332;
    --light-blue:#2c93e293;
    --background-color: #ffffff;
    --white: #ffffff;
    --black: #000000;
}

body {
    font-family: var(--font-base);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.material-symbols-outlined {
    font-size: 1.2rem !important;
   
}

.btn{
    background-color: var(--white);
    color: var(--tertiary);
    border: 1px solid var(--primary);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display:flex;
    text-align:center;
    align-items: anchor-center;
    gap: 0.3rem;
    font-weight:bold;
}

.btn:hover{
    background-color: var(--primary);
    color: var(--white);
}