@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "./index.css";
@import "./counterTable.css";

:root{
    --font-base: 'Noto Sans', sans-serif;
    --primary: #f88a33;
    --secondary: #0871b5;
    --tertiary: #414141;
    --background-color: #ffffff;
}

body{
    font-family: var(--font-base);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}