.search-container {
    display: flex;
    width: 100%;

    && .search-input-group {
        padding: 0.5rem;
        width: 100%;
        border-radius: 0.5rem;
        box-shadow: 0px 2px 5px var(--tertiary);
        display: flex;

        && .search-icon, && .close-btn {
            font-size: 1.2rem !important;
            color: var(--tertiary);
        }
        && .search-input {
            width: 100%;
            border: none;
            text-align: center;
        }
        && .search-input:focus-visible {
            outline: none;
            border: none;
        }

        && .clear-search-btn {
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
    }
}

}

@media screen and (max-width:768px) {
    .search-container {
        && .search-input-group {
            display: flex;
            justify-content: space-between;
            width: 100%;

        }
    }

}